#progressBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}
#progressBar .dashBox {
  padding-right: 1%;
  padding-left: 1%;
  width: 10%;
  background-color: transparent;
}
#progressBar .dashBox .percent {
  padding-bottom: 0.55624227rem;
  text-align: center;
}
