#progressBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}
#progressBar .dotBox {
  max-width: 400px;
  background-color: transparent;
}
#progressBar .dotBox .percent {
  padding-bottom: 10px;
  text-align: center;
}
#progressBar .dotBox .dot {
  margin-right: 0.1596665rem;
  border-radius: 8px;
}
