.panel .panelBody {
  padding-top: 1.69rem;
  padding-bottom: 1.69rem;
}
.panel p.controls {
  margin-top: 3.71293rem;
  margin-bottom: 3.71293rem;
}
#progressBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}
#progressBar .dotBox {
  padding-right: 1%;
  padding-left: 1%;
  width: 10%;
  background-color: transparent;
}
#progressBar .dotBox .percent {
  padding-bottom: 10px;
  text-align: center;
}
#progressBar .dotBox .dot {
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
