.panel .panelBody {
  padding-top: 3.71293rem;
  padding-bottom: 1.69rem;
}
.panel p.controls {
  margin-top: 3.71293rem;
  margin-bottom: 3.71293rem;
}
#progressBar {
  position: relative;
}
#progressBar .percent {
  position: absolute;
  left: 0;
  top: -30px;
  padding-bottom: 10px;
  text-align: center;
}
#progressBar .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#progressBar .complete {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}
