.progressBar {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-top: 0.95rem;
  max-width: 100%;
}
.progressBar img {
  display: none;
}
.progressBar .progressCanvas {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.progressBar .percent {
  padding-bottom: 10px;
  font-weight: bold;
}
